/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.personal_last_block {
		margin-bottom: 35px;
	}
	
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.resume_container .left,
	.s_resume .resume_container h3,
	.resume_container .resume_icon
	 {
		text-align: left;
		margin-bottom: 10px;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 530px) {
	.top_wrapper .top_text h1 {
		font-size: 2em;
	}
	.top_wrapper .top_text p {
		font-size: 0.9em;
	}
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.resume_container {
		padding-left: 7%;
		padding-right: 7%;
	}
}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	.resume_container {
		padding-left: 12%;
		padding-right: 12%;
	}
}